body>header { 
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2913D;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  margin-top:5.5rem;
}

.username h2{
font-weight: 300;
font-family: 'Source Sans Pro', sans-serif; 
margin: 0;
}

.username span{
  font-weight: 600;
}
