.tweet-header{
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  padding: 1rem
}

.user img{
  width: 4rem;
}

.user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-ID{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(165, 151, 164);
  font-size: 1.2rem;
  opacity: 0;
  
}

p{
  padding-left: 1rem;
  padding-right: 1rem;
  word-break: break-word;
}
.tweet-feed{
  width: 90%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin: 2em;
  padding: 1em;
}
.tweet-feed:hover {
  -webkit-box-shadow: 7px 7px 0px 0px rgb(160, 146, 159);
}
/*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
.tweet-feed:hover .user-ID{
  opacity: 1;
}

.tweet-footer{
  border-top: black solid 2px;
  font-size: 0.8em;
  position: relative;
}

.emoji{
  position: absolute;
  top: 15.36px;
  right: 1.5rem;
  color: darkblue;
}

.emoji > i:hover {
  color: rgb(66, 188, 197);
  transition: color 0.1s linear;
}